.card-img-container {
  height: 150px; /* Altura fija para las imágenes */
  overflow: hidden;
}
.modal-dialog {
z-index: 1051 !important; /* Aseguramos que el modal esté por encima de todo */
}

.modal-backdrop {
z-index: 1050 !important; /* Aseguramos que el backdrop también esté por encima de los elementos detrás del modal */
}


.card-img-top {
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  height: 100%; /* Ajusta la altura al contenedor */
  width: 100%; /* Ajusta el ancho al contenedor */
  border-radius: 5px; /* Opcional, agrega bordes redondeados a la imagen */
}

.card-footer {
  padding: 1rem;
}

.card-body {
  text-align: center;
  flex-grow: 1; /* Hace que el cuerpo de la tarjeta crezca y ocupe el espacio disponible */

}

.card {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card {
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro de la tarjeta se organicen verticalmente */
  height: 350px; /* Altura fija para todas las tarjetas */
  max-height: 350px; /* Para evitar que crezcan más allá de un tamaño específico */
  justify-content: space-between; /* Asegura que el contenido esté distribuido correctamente */
}


.card-img-container {
  flex-shrink: 0; /* Evita que la imagen se encoja */
  margin-bottom: 10px;
}

.card-footer {
  flex-shrink: 0; /* Evita que el pie de la tarjeta se encoja */
}
