/* mstyles.css */

.listado-ingredientes {
  background: repeating-linear-gradient(white 0px, white 30px, #f3f4f6 30px, #f3f4f6 31px);
  padding: 20px;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listado-ingredientes li {
  padding: 8px;
  border-bottom: 1px solid #e5e7eb;
}

.listado-ingredientes li:last-child {
  border-bottom: none;
}
.producto-item {
  display: flex;              /* Alineación en línea horizontal */
  align-items: center;        /* Alineación vertical centrada */
  gap: 10px;                 /* Espacio entre los elementos */
}

.btn-editar, .btn-descartar {
  font-size: 16px;            /* Tamaño de fuente pequeño */
  padding: 5px 10px;    
  background-color: #7a8087; /* Fondo de botón (puedes personalizarlo) */
  color: white;               /* Color de texto */
  border: none;               /* Sin borde */
  border-radius: 5px;         /* Bordes redondeados */
  cursor: pointer;           /* Cursor de puntero */
}

.btn-editar:hover, .btn-descartar:hover {
  background-color: #000000; /* Cambio de color al pasar el mouse */
}

