/* Estilos para el contenedor del perfil */
.profile-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  border: 2px solid #CD853F;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilos para el correo electrónico del perfil */
.profile-email {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Estilos para las acciones del perfil */
.profile-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* Estilos para los botones de acción */
.edit-button,
.logout-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-button {
  background-color: #8b2323;
  color: #fff;
}

.logout-button {
  background-color: #CD853F;
  color: #fff;
}

/* Efectos al pasar el mouse sobre los botones */
.edit-button:hover,
.logout-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.button-icon {
  font-size: 16px;
}

.profile-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}


.card-img-container {
  width: 150px; /* Tamaño del contenedor */
  height: 150px; /* Tamaño del contenedor */
  border-radius: 50%; /* Hace el contenedor circular */
  overflow: hidden; /* Recorta la imagen para que se ajuste al círculo */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 0 auto; /* Centra el contenedor en su padre */
  background-color: #f0f0f0; /* Color de fondo en caso de que la imagen no cargue */
}

.card-img-top {
  width: 100%; /* Ajusta la imagen al tamaño del contenedor */
  height: 100%; /* Ajusta la imagen al tamaño del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100px; /* Altura del contenedor (ajusta según necesites) */
}


.button-icon {
  align-items: center;
  display: inline-block; /* Convertir a inline-block */
  text-align: center; /* Centrar el texto */
  width: 100%; /* Ocupar todo el ancho disponible */
  font-size: 14px; /* Tamaño del texto */
  height: 30px;
  padding: 10px; /* Espaciado interno */
}