.main-content {
    padding-top: 25px;
    position: fixed; 
    background-color: transparent;
    top: 0;
    right: 0;
    left: 240px; /* Margen izquierdo predeterminado */
    z-index: 10;
    color: rgba(0, 0, 0, 0.9);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 100vh; /* Establece la altura máxima en la altura de la ventana */
    overflow-y: auto; /* Mostrar barra de desplazamiento solo cuando sea necesario */
}



@media (max-width: 768px) {
    .main-content {
        left: 0;
        width: 100%;
    }
}

