.main-content {
    padding-top: 25px;
    position: fixed;
    background-color: transparent;
    top: 0;
    right: 0;
    left: 240px; /* Margen izquierdo predeterminado */
    z-index: 9995;
    color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 1024px) {
    .main-content {
        left: 200px; /* Reduce el margen izquierdo */
    }
}

@media (max-width: 768px) {
    .main-content {
        left: 150px; /* Ajusta el margen para tablets */
    }
}

@media (max-width: 576px) {
    .main-content {
        position: relative; /* Cambia de fijo a relativo */
        left: 0; /* Sin margen izquierdo */
        top: 0; /* Ajusta la posición superior */
        border-left: none; /* Elimina la línea divisoria */
    }
}
